* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'SundayMasthead';
  src: url('fonts/SundayMasthead-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Cutive Mono';
  src: url('fonts/CutiveMono-Regular.otf') format('opentype');
}

:root {
  --background-color: #FFE7EB;
  --text-color: #0A2B75;
  --text-color-inactive: #BEBEBE;
}

body {
  background-color: var(--background-color);
}

.text-top, .text-bottom, .text-center {
  color: var(--text-color);
  line-height: 1;
  width: 100vw;
  z-index: 10;
  text-align: center;
  padding: 1.5rem 1.5rem 1.5rem;
}

.text-top {
  position: absolute;
  top: 0;
}

.text-bottom {
  position: absolute;
  bottom: 0;
}

.title-top {
  padding-top: 0;
}

.title-bottom {
  padding-bottom: 1.5rem;
}

.title {
  font-family: 'SundayMasthead', sans-serif;
  font-size: 6rem;
}

.subtitle {
  font-family: 'Cutive Mono', Courier, monospace;
  color: var(--text-color);
  font-size: 1.1rem;
}

.letter {
  color: var(--text-color-inactive);
  padding: 0px;    
}

.letter-static, .letter.collected {
  color: var(--text-color);
  padding: 0px;
}

#canvas-container, #landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#landing {
  cursor: pointer;
}

canvas {
  padding: 0px;
}

@media(max-width: 1000px) {

  .title {
    font-size: 4rem;
  }

}