* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'SundayMasthead';
  src: url('fonts/SundayMasthead-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Cutive Mono';
  src: url('fonts/CutiveMono-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('fonts/PlusJakartaSans-Regular.ttf') format('truetype');
}

:root {
  --background-color: #FFE7EB;
  --background-color-2: #F7F2F0;
  --text-color: #0A2B75;
  --text-inactive: 40%;
}

#background {
  background-color: var(--background-color);
  width: 100vw;
  min-height: 100vh;
}

body {
  background-color: var(--background-color-2);
  width: 100vw;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.title, h2 {
  font-family: 'SundayMasthead', sans-serif;
}

.title {
  font-size: 6rem;
}

.subtitle {
  font-family: 'Cutive Mono', Courier, monospace;
  color: var(--text-color);
  font-size: 1.1rem;
}

.text {
  font-family: 'Plus Jakarta Sans', Arial, sans-serif;
}

.link {
  cursor: pointer;
}

p {
  margin-bottom: 1rem;
}

/*title and landing*/

.text-top, .text-bottom, .text-center, .back {
  color: var(--text-color);
  line-height: 1;
  width: 100vw;
  z-index: 10;
  text-align: center;
  padding: 1rem 1rem 1rem;
}

.text-center-mobile {
  display: none;
}

.text-top {
  position: absolute;
  top: 0;
}

.text-bottom {
  position: absolute;
  bottom: 0;
}

.title-top {
  padding-top: 0;
}

.title-bottom {
  padding-bottom: 0.5rem;
}

.letter, .link:hover {
  color: var(--text-color);
  opacity: var(--text-inactive);  
}

.letter-static {
  opacity: 100%;
  color: var(--text-color);
  padding: 0px;
}

.letter-static.game-started {
  opacity: 40%;
}

.letter-static.collected {
  opacity: 100%;
  color: var(--text-color);
  padding: 0px;
}

.letter-static.game-started {
  opacity: 40%;
}

.letter-static.collected {
  opacity: 100%;
  color: var(--text-color);
  padding: 0px;
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#gif-and-canvas {
   display: flex;
  justify-content: center;
  align-items: center;
  padding-left:0px;
  padding-right:0px;
  width: 100%;
}
 
#gif-and-canvas canvas {
  width: 100%; /* Both fill their container */
  height: auto; /* Maintain aspect ratio */
  display: block;
  justify-content: center;
  align-items: center;
}


#placeholder {
  width: 65%;
  display: block;
}

#play {
  cursor: pointer;
  
}

canvas {
  padding: 0px;
  display: none;
  pointer-events: auto;
}

/* nav {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 3rem;
  z-index: 1000;
} */

.statement, .statement img, .grid, nav {
  color: var(--text-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem 3rem;
}

nav {
  flex-direction: row;
  text-align: center;
}

.statement p {
  width: 100%;
  max-width: 1000px;
}

#icon {
  width: 150px;
}

#stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.page {
  position: relative;
  width: 80%;
  max-width: 1000px;
  height: 100px;
  background-color: var(--background-color);
  border: 1px var(--text-color) solid;
  transform: perspective(500px) rotateX(60deg);
  transition: 0.5s ease;
  overflow: hidden;
}

.page:first-child {
  margin-top: 0;
}

.page:hover {
  background-color: color-mix(in srgb, var(--text-color) 40%, var(--background-color));
  transform: perspective(500px) rotateX(60deg) translateX(100px);
  cursor: pointer;
}

.page-selected{
   background-color: var(--text-color);
  transform: perspective(500px) rotateX(60deg) translateX(100px);
  cursor: pointer;
  
}

.hide-page {
  opacity: 0;
  display: none;
 
  visibility: hidden;
  transition: 0.5s ease;
}


.page-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 30%;
  z-index: 999;
  pointer-events: none;
  transition: 0.5s ease;
 
}


.page-content {
  padding: 1.5rem;
  overflow: scroll;
  max-height: 90vh;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.8);
  border: 1px var(--text-color) solid;
  color: var(--text-color);
  pointer-events: all;
}

.page-content > img, .page-content > video, .page-content > svg {
  margin-bottom: 1rem;
  float: right;
}

.name, .year {
  font-size: 1rem;
}

.work-description {
  font-size: 0.8rem;
}



@media(max-width: 1000px) {

  #canvas-container {
    flex-direction: column;
  }

  .title {
    font-size: 3rem;
  }

  .text-center {
    display: none;
  }

  .text-center-mobile {
    display: block;
    z-index: 1000;
  }

  .page-content {
    width: 90%;
  }

}