* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'SundayMasthead';
  src: url('fonts/SundayMasthead-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Cutive Mono';
  src: url('fonts/CutiveMono-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('fonts/PlusJakartaSans-Regular.ttf') format('truetype');
}

:root {
  --background-color: #FFE7EB;
  --text-color: #0A2B75;
  --text-inactive: 40%;
}

body {
  background-color: var(--background-color);
  width: 100vw;
  
}

.title {
  font-family: 'SundayMasthead', sans-serif;
  font-size: 6rem;
}

.subtitle {
  font-family: 'Cutive Mono', Courier, monospace;
  color: var(--text-color);
  font-size: 1.1rem;
}

.text {
  font-family: 'Plus Jakarta Sans', Arial, sans-serif;
}

.link {
  cursor: pointer;
}

p {
  margin-bottom: 1rem;
}

/*title and landing*/

.text-top, .text-bottom, .text-center {
  color: var(--text-color);
  line-height: 1;
  width: 100vw;
  z-index: 10;
  text-align: center;
  padding: 1.5rem 1.5rem 1.5rem;
}

.text-top {
  position: absolute;
  top: 0;
}

.text-bottom {
  position: absolute;
  bottom: 0;
}

.title-top {
  padding-top: 0;
}

.title-bottom {
  padding-bottom: 1.5rem;
}

.letter, .link:hover {
  color: var(--text-color);
  opacity: var(--text-inactive);  
}

.letter-static {
  opacity: 100%;
  color: var(--text-color);
  padding: 0px;
}

.letter-static.game-started {
  opacity: 40%;
}

.letter-static.collected {
  opacity: 100%;
  color: var(--text-color);
  padding: 0px;
}



#canvas-container, #landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

@media(max-width: 1000px) {

  #canvas-container {
    flex-direction: column;
  }

}

#gif-and-canvas {
   display: flex;
  justify-content: center;
  align-items: center;
  padding-left:0px;
  padding-right:0px;
  width: 100%;
}
 
#gif-and-canvas canvas {
  width: 100%; /* Both fill their container */
  height: auto; /* Maintain aspect ratio */
  display: block;
  justify-content: center;
  align-items: center;
}


#placeholder{
  width: 65%;
  display: block;
}
#play {
  cursor: pointer;
  
}

canvas {
  padding: 0px;
  display: none;
}

.statement {
  color: var(--text-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 3rem;
}

.statement p {
  width: 90%;
  max-width: 1000px;
}

@media(max-width: 1000px) {

  .title {
    font-size: 3rem;
  }

}