* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'SundayMasthead';
  src: url('fonts/SundayMasthead-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Cutive Mono';
  src: url('fonts/CutiveMono-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('fonts/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('fonts/PlusJakartaSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

:root {
  --background-color: #FFE7EB;
  --background-color-2: #F7F2F0;
  --text-color: #0A2B75;
  --text-inactive: 40%;
}

#background {
  background-color: var(--background-color);
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: var(--background-color-2);
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.title, h2 {
  font-family: 'SundayMasthead', sans-serif;
}

.title {
  font-size: 6rem;
}

.subtitle {
  font-family: 'Cutive Mono', Courier, monospace;
  color: var(--text-color);
  font-size: 1.1rem;
}

.text, .work-title {
  font-family: 'Plus Jakarta Sans', Arial, sans-serif;
  color: var(--text-color);
}

.link {
  cursor: pointer;
}

p {
  font-weight: 400;
}

h3, p, .page-content > img, .page-content > svg, .grid-content > img, .grid-content > svg, .name, .work-title {
  margin-bottom: 1rem;
}

/*title and landing*/

.text-top, .text-bottom, .text-center, .back {
  color: var(--text-color);
  line-height: 1;
  width: 100vw;
  z-index: 10;
  text-align: center;
  padding: 1rem 1rem 1rem;
}

.text-center-mobile {
  display: none;
}

.text-top {
  position: absolute;
  top: 0;
}

.text-bottom {
  position: absolute;
  bottom: 0;
}

.title-top {
  padding-top: 0;
}

.title-bottom {
  padding-bottom: 0.5rem;
}

.letter, .link:hover {
  color: var(--text-color);
  opacity: var(--text-inactive);  
}

.letter-static {
  opacity: 100%;
  color: var(--text-color);
  padding: 0px;
}

.letter-static.game-started {
  opacity: 40%;
}

.letter-static.collected {
  opacity: 100%;
  color: var(--text-color);
  padding: 0px;
}

.letter-static.game-started {
  opacity: 40%;
}

.letter-static.collected {
  opacity: 100%;
  color: var(--text-color);
  padding: 0px;
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#gif-and-canvas {
   display: flex;
  justify-content: center;
  align-items: center;
  padding-left:0px;
  padding-right:0px;
  width: 100%;
}
 
#gif-and-canvas canvas {
  width: 100%; /* Both fill their container */
  height: auto; /* Maintain aspect ratio */
  display: block;
  justify-content: center;
  align-items: center;
}


#placeholder {
  width: 65%;
  display: block;
}

#play {
  cursor: pointer;
  
}

canvas {
  padding: 0px;
  display: none;
  pointer-events: auto;
}

/* nav {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 3rem;
  z-index: 1000;
} */

.statement, .statement img, nav, .footer {
  color: var(--text-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid, .statement, .statement img, nav, .footer {
  padding: 1rem 3rem 3rem;
}

nav {
  flex-direction: row;
  text-align: center;
}

.statement p {
  width: 100%;
  max-width: 1000px;
}

#icon {
  width: 150px;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.page {
  position: relative;
  width: 80%;
  max-width: 1000px;
  height: 100px;
  background-color: var(--background-color);
  border: 1px var(--text-color) solid;
  transform: perspective(500px) rotateX(60deg);
  transition: 0.5s ease;
  overflow: hidden;
}

.page:first-child {
  margin-top: 0;
}

.page:hover {
  background-color: color-mix(in srgb, var(--text-color) 40%, var(--background-color));
  transform: perspective(500px) rotateX(60deg) translateX(100px);
  cursor: pointer;
}

.page-selected{
   background-color: var(--text-color);
  transform: perspective(500px) rotateX(60deg) translateX(100px);
  cursor: pointer;
  
}

.hide-page {
  opacity: 0;
  display: none;
  visibility: hidden;
}


.page-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.page-container .page-content {
  width: 30%;
}


.page-content {
  padding: 1.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90vh;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.8);
  border: 1px var(--text-color) solid;
  color: var(--text-color);
  pointer-events: all;
}

.page-content > img, .page-content > video, .page-content > svg, .grid-content > img, .grid-content > video, .grid-content > svg {
  margin-bottom: 1rem;
  float: right;
}

.name, .year {
  font-size: 1rem;
}

.work-title {
  font-weight: 400;
}

.work-description {
  font-size: 0.8rem;
}

.stack-hide, .grid-hide {
  display: none;
}

.grid, .grid-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.span-2 {
  grid-column: span 2;
}

#transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

#transition-overlay .fake-page {
  position: absolute;
  background-color: var(--background-color);
  border: 1px var(--text-color) solid;
}

.grid-content {
  width: 100%;
}

#grid-container {
  flex-direction: row;
  gap: 2rem;
  padding: 3rem;
  align-items: flex-start;
}

#grid-container:not(.grid-hide) {
  display: flex;
}

.grid-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background-color: var(--background-color);
  padding: 1rem;
  border: 1px var(--text-color) solid; */
}

.grid-page-container {
  width: 100%;
  background-color: var(--background-color);
  padding: 1.5rem;
  border: 1px var(--text-color) solid;
}


@media(max-width: 1000px) {

  #canvas-container {
    flex-direction: column;
    height: 90vh;
  }

  .title {
    font-size: 3.5rem;
  }

  .text-center {
    display: none;
  }

  .text-center-mobile {
    display: block;
    z-index: 1000;
  }

  #grid-container {
    flex-direction: column;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .span-2 {
    grid-column: span 1;
  }

  .page-container .page-content {
    width: 50%;
  }

}

@media(max-width: 600px) {

  #grid-container {
    flex-direction: column;
    padding: 1.5rem;
  }

  .page-container .page-content {
    width: 85%;
  }

  .grid-2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .page-content {
    max-height: 60vh;
  }

}
